<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="page-header">
        <h1> Lets see how well you know EPL</h1>

      
      <p>Hi {{current_user.username}} {{posts[1].question}}<br></p>



      {% for post in posts %}
      <p>
      Question No. {{post.id}}: <b>{{ post.question }}</b> 
      </p>
      {% endfor %}

      <p>
        {{ form.question_id.label }}<br>
        {{ form.question_id(cols=36, rows=4) }}<br>
        {% for error in form.question_id.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.trying.label }}<br>
        {{ form.trying(cols=36, rows=4) }}<br>
        {% for error in form.trying.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    
    <p>{{ form.submit() }}</p>
  
  
    


    <!-- <h1>How much you know about EPL</h1>
    <p>
    who was Liverpool goalkeep in 2008-2009 season?<br>
    <br>
    A: Alison B: Rema C: Shay Given
    </p> -->
</body>

</html>

 