<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuziPage</title>
    <script type="text/javascript" src="/script.js" async></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js" async></script>
</head>
<body>

    <div class="page-header">
        <h1> Lets see how well you know EPL</h1>

      


      <p>Hi {{current_user.username}} <br></p>


      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert"></button>
          {{ message }}
      </div>
      {% endfor %}


      <div align="center">

        {% for post in posts %}
      <p>
        Question No. {{post.id}}: <b>{{ post.question }}</b> posted by <b>{{post.author.username}} </b>
      </p>
        {% endfor %}
        <form action="#" method="post">
          <p>Question: copy the question you want to answer here</p>
          <p><input type="text" name="question" placeholder="Question you want to answer" required minlength="1"/></p>
          <p>Answer:</p>
          <p><input type="text" name="answer" placeholder="put your answer here" required minlength="1"/></p>
          <p><input type="submit" value="submit" /></p>
        </form>
      </div>
      

      
  
  
    


    <!-- <h1>How much you know about EPL</h1>
    <p>
    who was Liverpool goalkeep in 2008-2009 season?<br>
    <br>
    A: Alison B: Rema C: Shay Given
    </p> -->
</body>

</html>

 